beautifulsoup4
httpx[http2]
nb-cli
nonebot2 >= 2.1.3
nonebot2[fastapi] >= 1.2.0
nonebot-adapter-onebot
psutil
tabulate
xpinyin
numpy
nonebot_plugin_apscheduler
playwright
sgtpyutils >= 1.18.4
pydantic
pathlib2
aiotieba
pillow
cron-descriptor
croniter
pre-commit
