beautifulsoup4
httpx[http2]
nb-cli
nonebot2
nonebot2[fastapi]
nonebot-adapter-onebot
psutil
tabulate
xpinyin
numpy
nonebot_plugin_apscheduler
playwright
sgtpyutils >= 1.15.25
pydantic
pathlib2
aiotieba
pillow
cron-descriptor
croniter
pre-commit
