beautifulsoup4
httpx[http2]
nonebot2==2.2.0
nonebot2[fastapi]
nb-cli
nonebot-adapter-onebot
psutil
tabulate
numpy
nonebot_plugin_apscheduler
playwright
pydantic
pathlib2
aiotieba
pillow==10.0.0
cron-descriptor
croniter
pre-commit
ruff
markdown
simpleeval
pypinyin>=0.40.0,<1.0.0
nonebot_plugin_alconna>=0.38.0,<1.0.0
spark_ai_python
matplotlib