<template>

  <div :style="{'text-align': 'center","font-size':font_size,width:'1000px'}">
    <el-card shadow="never">
      <div style="font-size:2rem;font-weight:600;">机器人使用说明{{ title }} {{ item_name && ` · ${item_name}` }}</div>
      <el-row>
        <el-card style="width: 100%;margin: 0.2rem;">
          <el-row>
            <el-col :span="12">
              <el-row>
                <el-col class="primary-icon" :span="4">
                  <div>命令</div>
                  <div class="ver-line"></div>
                </el-col>
                <el-col :span="20">
                  <div class="primary-title">
                    <div>
                      <span style="color:#999">查看详情：</span>
                      <span style="color:#ccc">帮助 指令名 [页码]</span>
                    </div>
                    <div>
                      <span style="color:#999">查看目录：</span>
                      <span style="color:#ccc">[施工中]帮助 目录名 [页码]</span>
                    </div>
                  </div>
                </el-col>
              </el-row>
            </el-col>
            <el-col :span="12">
              <el-row>
                <el-col class="primary-icon" :span="4">
                  <div style="color: #999999;">说明</div>
                  <div class="ver-line"></div>
                </el-col>
                <el-col :span="20">
                  <div class="primary-content">
                    <div>1. 欢迎使用机器人，
                      <span style="color:#0490e1">完全免费，别花冤枉钱！</span>
                    </div>
                    <div>2. 指令按使用热度排序。</div>
                    <div style="color:#0490e1">3. []包起来表示可填可不填，例如 马场 [不填则当前绑定区服]。</div>
                  </div>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <el-card v-for="(cmd,index) in filter_commands_paged" :key="index" class="item-container">
        <template #header>
          <span>{{ index+1 }}.</span>
          <span>{{ cmd.name }}</span>
          <span v-if="cmd.aliases && cmd.aliases.length" style="margin-left:0.5rem;color:#999999">
            <span>别称(</span>
            <span>{{ cmd.aliases.join(' | ') }}</span>
            <span>)</span>
          </span>
          <span style="float:right">
            热度
            <el-rate :model-value="convertPop(cmd.favorite)" show-score disabled />
          </span>
        </template>
        <el-row :gutter="10">
          <el-col :span="8">
            <div v-if="cmd.description || cmd.document">
              <div style="font-size:1.1rem">{{ cmd.description }}</div>
              <el-divider v-if="cmd.description && cmd.document" style="margin:0.5rem"></el-divider>
              <div v-if="cmd.document">
                <div v-for="(docs,docindex) in cmd.document.split('\n')" :key="docsindex">{{ docs }}</div>
              </div>
            </div>
            <div v-else style="font-size:1.2rem">暂无详细说明</div>
          </el-col>
          <el-col :span="8">
            <el-form label-width="5rem">
              <el-form-item label="是否启用">
                <div v-if="cmd.status_grp">
                  <el-switch v-model="cmd.status_grp.enable"></el-switch>
                </div>
                <div v-else>从未使用过</div>
              </el-form-item>
              <el-form-item v-if="unnest_catalogs[cmd.catalog]" label="目录">
                <div>
                  <div>{{ unnest_catalogs[cmd.catalog].cpath }}</div>
                  <div>{{ unnest_catalogs[cmd.catalog].description }}</div>
                </div>
              </el-form-item>
              <el-form-item label="用法">
                {{ get_example_desc(cmd).rule }}
              </el-form-item>
              <el-form-item label="示例">
                <div>
                  <div v-for="(exp,expindex) in get_example_desc(cmd).examples" :key="index">{{ exp }}</div>
                </div>
              </el-form-item>
            </el-form>
          </el-col>
          <el-col :span="8">
            <div class="item-example-img-container">
              <div class="item-example-img">暂无截图</div>
            </div>
          </el-col>
        </el-row>
      </el-card>
      <div style="width: 100%;display: flex;justify-content: center;margin: 1.2rem;">
        <el-pagination v-model:page-size="page.pageSize" :default-current-page="page.pageIndex + 1" small
          :disabled="false" :background="false" layout="total, sizes, prev, pager, next, jumper"
          :total="page.totalCount" :hide-on-single-page="false" :page-sizes="[5,10,20,50,100]"></el-pagination>
      </div>
    </el-card>
  </div>

</template>
<style lang="scss">
  .ver-line {
    height: 3rem;
    border: 1px solid #aaaaaa;
  }

  .primary-icon {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
    display: flex;
    justify-content: space-evenly;
  }

  .primary-title {
    color: #ff0000;
    font-weight: 400;
    text-align: left;
    line-height: 1.4rem;
    font-size: 1.12rem;
  }

  .primary-content {
    color: #999;
    text-align: left;
    line-height: 1rem;
    font-size: 0.8rem;
  }

  .sub-title {
    margin-right: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .global-title {
    font-weight: 600;
    font-size: 1.2rem;
  }
</style>

<style lang="scss">
  .item-container {
    text-align: left;
    margin-bottom: 0.5rem;
  }


  .item-example-img-container {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.3);
    color: #cccccc;
  }

  .item-example-img {
    position: absolute;
    margin: auto;
  }

  .el-rate {
    height: auto;
  }
</style>
<script>
  const { defineComponent, reactive, toRefs, ref, onMounted, computed } = Vue
  const component = defineComponent({
    components: {},
    setup () {
      const locale = computed(() => window.zhCn)
      onMounted(() => {
      })
      const methods = {
        parseTime,
        formatTime,
        convertSci,
        convertPop
      }
      const computes = {}
      const font_size = ref('1rem')
      computes.unnest_catalogs = computed(() => {
        const catalogs = params_data.catalogs
        const result = {}
        const extract = (x, path = '') => {
          const c_path = `${path}${path ? '.' : ''}${x.name}`
          x.cpath = c_path
          result[x.path] = x
          x.children && x.children.map(child => {
            child.parent = x
            extract(child, c_path)
          })
        }
        extract(catalogs)
        return result
      })
      console.log(computes.unnest_catalogs)
      computes.filter_commands = computed(() => {
        const { group_status, global_status, item_name } = params_data
        const catalogs = computes.unnest_catalogs.value
        let commands = params_data.commands

        // 模糊搜索匹配的指令
        commands = commands.filter(x => {
          if (x.name && x.name.indexOf(item_name) > -1) return true
          if (x.aliases && x.aliases.find(ali => ali.indexOf(item_name) > -1)) return true
          return false
        })

        commands.map(x => {
          x.labels = x.aliases.filter(a => a !== x.name).slice(0, 3)
          x.status_grp = group_status[x.name]
          x.status_glo = global_status[x.name]
          x.favorite = x.status_glo && x.status_glo.favorite
          x.favorite = x.favorite || 0
        })
        // 排除 v1 v2 等的
        // commands = commands.filter(x => x.name && x.name.indexOf('v') === -1)
        // 排除 纯英文的
        commands = commands.filter(x => /.*[\u4e00-\u9fa5]+.*$/.exec(x.name))

        // 尽可能每行等宽
        commands = commands.sort((a, b) => b.labels.length - a.labels.length)
        commands = commands.sort((a, b) => a.priority - b.priority)
        // 按热度排序
        commands = commands.sort((a, b) => b.favorite - a.favorite)

        return commands
      })
      computes.filter_commands_paged = computed(() => {
        const commands = computes.filter_commands.value
        const pages = computes.page.value
        const start = pages.pageIndex * pages.pageSize
        return commands.slice(start, start + pages.pageSize)
      })
      methods.get_alias_desc = x => {
        let { aliases } = x
        if (!aliases) return ''
        aliases = aliases.slice(0, 3)
        return aliases.join('|')
      }
      methods.choice = (items, count) => {
        const index = Math.floor(items.length * Math.random())
        return items[index]
      }
      methods.get_example_desc = x => {
        const { example } = x
        if (!example || !example.length) return ''
        const args = example
          .map(x => {
            const arg_type = x.arg_type
            const tpl = params_data.args_template[arg_type]
            return Object.assign({ tpl }, x)
          })

        const get_random_exp = item => {
          const raw = args.map(x => {
            const { tpl, is_optional } = x
            const exp_name = methods.choice(tpl.example)
            if (is_optional) return Math.random() > 0.5 ? exp_name : ''
            return exp_name
          }).join(' ')
          const name = x.aliases && x.aliases.length ? methods.choice(x.aliases) : x.name
          return `${name} ${raw}`
        }
        const MAX_Count = 5
        let examples = new Array(MAX_Count)
          .fill(0)
          .map(x => get_random_exp())
        examples = distinct(examples, x => x)
        const rule = args.map(x => {
          const { tpl, is_optional, alias } = x
          const name = alias || tpl.description
          return is_optional ? `[${name}]` : name
        }).join(' ')
        return { rule, examples }
      }

      computes.page = computed(() => {
        const { pageIndex } = params_data
        return {
          pageIndex,
          pageSize: 5,
          totalCount: computes.filter_commands.value.length
        }
      })
      return {
        args_template: {},
        catalogs: {},
        commands: [],
        group_config: {},
        pageIndex: 1,
        item_name: '',
        title: '',

        ...computes,
        font_size,
        ...methods,
      }
    },
  })
</script>