<template>
  <div :style="{'text-align': 'center','font-size':font_size,width:'1000px'}">
    <el-card shadow="never">
      <div style="font-size:2rem;font-weight:600;">{{ title }}</div>
      <el-row>
        <el-card style="width: 100%;margin: 0.2rem;">
          <el-row>
            <el-col :span="12">
              <el-row>
                <el-col class="primary-icon" :span="4">
                  <div>命令</div>
                  <div class="ver-line"></div>
                </el-col>
                <el-col :span="20">
                  <div v-for="(usage,uindex) in docs_usages" :key="uindex" class="primary-title">
                    <div>
                      <span style="color:#999">{{ usage.title || usage.label }}</span>
                      <span v-if="usage.title">{{ usage.label }}</span>
                    </div>
                  </div>
                </el-col>
              </el-row>
            </el-col>
            <el-col :span="12">
              <el-row>
                <el-col class="primary-icon" :span="4">
                  <div style="color: #999999;">说明</div>
                  <div class="ver-line"></div>
                </el-col>
                <el-col :span="20">
                  <div class="primary-content">
                    <div v-for="(tip,tindex) in docs_tips" :key="tindex">{{ `${tindex}.${tip.label}` }}</div>
                  </div>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <el-row>
        <el-table v-if="filter_items && filter_items.length" :data="filter_items" stripe style="width: 100%">
          <el-table-column label="序号" width="40px">
            <template #default="scope">{{ scope.row.index }}</template>
          </el-table-column>
          <el-table-column v-for="(x,hindex) in headers" :key="hindex" :label="x.label" :width="x.width">
            <template #default="scope">
              <span>{{ scope.row[x.column || x.name] }}</span>
            </template>
          </el-table-column>
        </el-table>
        <el-empty v-else style="margin:auto" description="没有内容" />
      </el-row>
      <div style="width: 100%;display: flex;justify-content: center;margin: 1.2rem;">
        <el-pagination :default-current-page="page.pageIndex + 1" v-model:page-size="page.pageSize" :small="small"
          :disabled="false" :background="false" layout="total, sizes, prev, pager, next, jumper"
          :total="page.totalCount" />
      </div>
    </el-card>
  </div>
</template>
<style lang="scss">
  .el-table .cell {
    padding: 0 !important;
  }
</style>
<style lang="scss">
  .ver-line {
    height: 3rem;
    border: 1px solid #aaaaaa;
  }

  .primary-icon {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4rem;
    display: flex;
    justify-content: space-evenly;
  }

  .primary-title {
    color: #ff0000;
    font-weight: 400;
    text-align: left;
    line-height: 1.4rem;
    font-size: 1.12rem;
  }

  .primary-content {
    color: #999;
    text-align: left;
    line-height: 1rem;
  }
</style>
<script>
  const { defineComponent, reactive, toRefs, ref, onMounted, computed } = Vue
  const component = defineComponent({
    components: {},
    setup () {
      const locale = computed(() => window.zhCn)
      onMounted(() => {
      })
      const methods = {
        parseTime,
        formatTime,
        convertGold,
        convertSci,
        convertPop
      }
      const computes = {}
      computes.filter_items = computed(() => {
        const { items } = params_data
        items.map((x, index) => {
          x.index = index + 1
        })
        return items
      })
      const font_size = ref('0.8rem')
      return {
        items: [{ value: '', name: '' }], // 表项
        headers: [{ label: '', name: '' }], // 表头
        docs_tips: [{ label: '' }], // 右上角显示提示
        docs_usages: [{ label: '' }], // 左上角显示使用说明
        title: '',
        page: {
          pageIndex: 0,
          pageSize: 20,
          totalCount: 0
        },
        font_size,
        ...methods,
        ...computes,
      }
    },
  })
</script>